Flask-Admin==1.6.1
Flask-SQLAlchemy==2.5.1
Flask==1.1.2
Jinja2==3.0.3
MarkupSafe==2.1.3
SQLAlchemy==1.3.24
WTForms==3.0.1
Werkzeug==1.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
flask-oidc==1.4.0
gunicorn==21.2.0
httplib2==0.22.0
idna==3.4
itsdangerous==2.0.1
oauth2client==4.1.3
packaging==23.1
psycopg2-binary==2.9.6
pyasn1-modules==0.3.0
pyasn1==0.5.0
pyparsing==3.1.1
python-dotenv==1.0.0
requests-futures==1.0.1
requests==2.31.0
rsa==4.9
six==1.16.0
urllib3==2.0.4
-e git+https://github.com/bcgov/sbc-pay.git@main#egg=pay-api&subdirectory=pay-api
-e git+https://github.com/bcgov/sbc-common-components.git#egg=sbc-common-components&subdirectory=python
git+https://github.com/daxiom/simple-cloudevent.py.git
