# Outstanding Balance Notice for {{ accountId }}: {{ accountName }}

We have processed a reversal of ${{ reversedAmount }} for your {{ statementMonth }} statement (#{{ statementNumber }}).

As a result, there is an outstanding balance of ${{ outstandingBalance }} on your account. Please settle your remaining
balance before {{ dueDate }}.

This will help ensure the smooth processing of your account and services.

[Log in to view your monthly statements]({{ statementUrl }})

**Business Registry**
BC Registries and Online Services
Toll Free: [1-877-526-1526](1-877-526-1526)
Victoria Office: [250-387-7848](250-387-7848)
Email: [BCRegistries@gov.bc.ca](BCRegistries@gov.bc.ca)
