{% set status_display = {
    'PENDING_APPROVAL': 'Pending',
    'APPROVED': 'Approved',
    'DECLINED': 'Declined' } 
%}
# {{ status_display.get(status) }} Refund Request for Short Name {{ shortName }}

There is a refund request of ${{ refundAmount }} for short name: {{ shortName }} {% if status_display.get(status) == 'Approved' %}is now approved.{% elif status_display.get(status) == 'Declined' %}is declined with the following message: {{ declineMessage }}{% else %}.{% endif %}

Please review the information using the following link:

[Log in to view details]({{ url }})
