# Outstanding Balance Notice for {{ accountId }}: {{ accountName }}

We applied ${{ reversedAmount }} to your account in error. The payment has now been reversed and there is an outstanding balance of ${{ outstandingBalance }} for your {{ statementMonth }} statement (#{{ statementNumber }}). 

Please settle your remaining balance at your earliest convenience.

[Log in to view your monthly statements]({{ statementUrl }})

**Business Registry**
BC Registries and Online Services
Toll Free: [1-877-526-1526](1-877-526-1526)
Victoria Office: [250-387-7848](250-387-7848)
Email: [BCRegistries@gov.bc.ca](BCRegistries@gov.bc.ca)
