# Refund Notice

Account Number: {{ accountNumber }}
Account Name: {{ accountName }}
Transaction ID: {{ invoiceId }}
{% if status == 'DECLINED' %}
Invoice Reference: {{ invoiceReferenceNumber }}
{% endif %}


A refund amount of ${{ '%.2f'|format(refundAmount) }} has been issued. The processing time will be 3-5 business days.

Reason for Refund: {{ reason }}


---
**Business Registry**
BC Registries and Online Services
Toll Free: [1-877-526-1526](1-877-526-1526)
Victoria Office: [250-387-7848](250-387-7848)
Email: [BCRegistries@gov.bc.ca](BCRegistries@gov.bc.ca)
