
    <div class="inner-wrap">
        <table class="transaction-header">
            <tr>
                <td>
                    <h2>
                        Transactions
                    </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="section-subtitle">
                        Number of Transactions: {{invoices|length}}
                    </div>
                </td>
            </tr>
        </table>
        {% if invoices %}
        <table class="transaction-table">
            <thead>
            <th style="width: 50%;">Product Purchased</th>
            <th style="width: 130px; white-space: nowrap;">Date</th>
            <th style="width: 70px; white-space: nowrap;">Fee</th>
            <th style="width: 70px; white-space: nowrap;">GST</th>
            <th style="width: 70px; white-space: nowrap;">Service Fee</th>
            <th style="width: 100px; white-space: nowrap;">Total</th>
            </thead>
            {% for item in invoices %}
            <tr>
                <td class="transaction">
                    {% for lineItemProduct in item.line_items %}
                    <div class="font-bold">{{'(Cancelled) ' if (item.status_code == 'CANCELLED') else ''}}{{lineItemProduct.description}}</div>
                    {% endfor %}
                    {% if item.details and item.details|length > 0 %}
                    <div class="transaction-details">
                        {% for detail in item.details %}
                        <div>{{detail.label}} {{detail.value}}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td>{{item.created_on | format_datetime('mmm dd,yyyy')}}</td>
                <td>${{"{:,.2f}".format(item.total - item.service_fees|default(0) - item.gst|default(0)) if (item.service_fees and item.total) else '0.00'}}</td>
                <td>${{"{:,.2f}".format(item.gst) if item.gst else '0.00'}}</td>
                <td>${{"{:,.2f}".format(item.service_fees) if item.service_fees else '0.00'}}</td>
                <td>${{"{:,.2f}".format(item.total) if item.total else '0.00'}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <table class="transaction-footer">
            <tr>
                <td colspan="2">
                    <h2>Totals</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="total-elements font-bold">
                        Statement Total:
                        <span class="total">${{"{:,.2f}".format(total.fees)}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="total-elements">
                        Last Statement Total:
                        <span class="total">
                            ${{"{:,.2f}".format(statementSummary.lastStatementTotal)}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="total-elements">
                        Payment Received for Last Statement:
                        <span class="total">
                            -${{"{:,.2f}".format(statementSummary.lastStatementPaidAmount)}}
                        </span>
                    </div>
                </td>
            </tr>
            {% if statementSummary.cancelledTransactions %}
            <tr>
                <td colspan="2">
                    <div class="total-elements">
                        Cancelled Transactions:
                        <span class="total">-${{ "{:,.2f}".format(statementSummary.cancelledTransactions) }}</span>
                    </div>
                </td>
            </tr>
            {% endif %}

            {% if statement.is_interim_statement %}
                <tr>
                    <td colspan="2">
                        <div class="total-elements font-bold" style="border-bottom: none;">
                            Total Amount Paid:
                            <span class="total">${{ "{:,.2f}".format(total.paid) if total.paid else '0.00' }}</span>
                        </div>
                        {%  if statementSummary.latestStatementPaymentDate %}
                            <div class="font-14">Paid on {{ statementSummary.latestStatementPaymentDate | format_datetime('mmm dd,yyyy') }} </div>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <div class="total-elements font-bold" style="border-bottom: none;">
                        Total Amount Owing:
                        <span class="total">${{ "{:,.2f}".format(total.due) if total.due else '0.00' }}</span>
                    </div>
                    {% if not statement.is_interim_statement %}
                        <div class="font-14">Payment Due Date: {{ statement.to_date | format_datetime('mmm dd,yyyy') }} at 5:15 pm Pacific Time</div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
