Brotli==1.0.9
Flask-WeasyPrint==0.6
Flask==1.1.2
Jinja2==3.0.3
MarkupSafe==2.0.1
Pillow==10.3.0
Werkzeug==1.0.1
aniso8601==9.0.1
attrs==22.2.0
blinker==1.6.1
cachelib==0.10.2
cairocffi==1.5.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cssselect2==0.7.0
ecdsa==0.18.0
flask-jwt-oidc==0.3.0
flask-restx==1.1.0
fonttools==4.43.0
gunicorn==20.1.0
html5lib==1.1
idna==3.4
importlib-resources==5.12.0
itsdangerous==2.0.1
jaeger-client==4.8.0
jsonschema==4.17.3
opentracing==2.4.0
pkgutil_resolve_name==1.3.10
psycopg2-binary==2.9.6
pyasn1==0.4.8
pycparser==2.21
pydyf==0.6.0
pyphen==0.14.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
pytz==2023.3
requests==2.31.0
rsa==4.9
sentry-sdk==1.19.1
six==1.16.0
threadloop==1.0.2
thrift==0.16.0
tinycss2==1.2.1
tornado==6.3.3
typing_extensions==4.5.0
urllib3==1.26.17
weasyprint==58.1
webencodings==0.5.1
zipp==3.15.0
zopfli==0.2.2
-e git+https://github.com/bcgov/sbc-common-components.git#egg=sbc-common-components&subdirectory=python
git+https://github.com/daxiom/simple-cloudevent.py.git
