openapi: 3.0.0
info:
  title: BC Registries Payment API
  description: |-
    <p>BC Registries Pay system is used by the BC Registries account services and integrated systems to create payment transactions to pay for the products purchased. This abstracts the integrated systems from the underlying payment integrations and payment methods. <br/>
    With this API you can submit the following transactions:<ul><li>Create payment transactions</li><li>Get payment status</li><li>Delete unpaid payment transactions</li><li>Generate PDF receipt</li><li>Retrieve account statements</li><li>Generate account transactions reports</li></ul>
    <p>All requests must include an Account ID.</p>
  version: 1.0.10
  contact:
    name: BC Registries
servers:
  - url: "https://sandbox.api.connect.gov.bc.ca"
    description: "Test"
  - url: "https://api.connect.gov.bc.ca"
    description: "Production"
paths:
  '/api/v1/fees/{business_type}/{filing_type}':
    get:
      tags:
        - Fees
      summary: Calculate Fees
      description: Get fee details based on the type business type and filing type.
      operationId: get_fees
      responses:
        '200':
          description: Success
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
              examples:
                /api/v1/fees/CP/OTANN:
                  value: '*'
                /api/v1/fees/BC/BCINC:
                  value: '*'
                /api/v1/fees/BC/BCADD:
                  value: '*'
                /api/v1/fees/BC/BCINC?priority=true&futureEffective=true:
                  value: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
              examples:
                /api/v1/fees/CP/OTANN:
                  value: 'GET, POST, DELETE, PUT'
                /api/v1/fees/BC/BCINC:
                  value: 'GET, POST, DELETE, PUT'
                /api/v1/fees/BC/BCADD:
                  value: 'GET, POST, DELETE, PUT'
                /api/v1/fees/BC/BCINC?priority=true&futureEffective=true:
                  value: 'GET, POST, DELETE, PUT'
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
              examples:
                /api/v1/fees/CP/OTANN:
                  value: 'Content-Type, Authorization'
                /api/v1/fees/BC/BCINC:
                  value: 'Content-Type, Authorization'
                /api/v1/fees/BC/BCADD:
                  value: 'Content-Type, Authorization'
                /api/v1/fees/BC/BCINC?priority=true&futureEffective=true:
                  value: 'Content-Type, Authorization'
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
              examples:
                /api/v1/fees/CP/OTANN:
                  value: '3600'
                /api/v1/fees/BC/BCINC:
                  value: '3600'
                /api/v1/fees/BC/BCADD:
                  value: '3600'
                /api/v1/fees/BC/BCINC?priority=true&futureEffective=true:
                  value: '3600'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
              examples:
                /api/v1/fees/CP/OTANN:
                  value:
                    filingFees: 30
                    filingType: Annual Report
                    filingTypeCode: OTANN
                    futureEffectiveFees: 0
                    priorityFees: 0
                    serviceFees: 0
                    tax:
                      gst: 0
                      pst: 0
                    total: 30
                /api/v1/fees/BC/BCINC:
                  value:
                    filingFees: 350
                    filingType: Incorporation
                    filingTypeCode: BCINC
                    futureEffectiveFees: 0
                    priorityFees: 0
                    serviceFees: 1.5
                    tax:
                      gst: 0
                      pst: 0
                    total: 351.5
                /api/v1/fees/BC/BCADD:
                  value:
                    filingFees: 20
                    filingType: Change of Registered Office Address
                    filingTypeCode: BCADD
                    futureEffectiveFees: 0
                    priorityFees: 0
                    serviceFees: 1.5
                    tax:
                      gst: 0
                      pst: 0
                    total: 21.5
                /api/v1/fees/BC/BCINC?priority=true&futureEffective=true:
                  value:
                    filingFees: 350
                    filingType: Incorporation
                    filingTypeCode: BCINC
                    futureEffectiveFees: 100
                    priorityFees: 100
                    serviceFees: 1.5
                    tax:
                      gst: 0
                      pst: 0
                    total: 551.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/fees/XX/XXXXX:
                  value:
                    detail: Invalid Business Type or Filing Type.
                    title: Invalid Request
                    type: INVALID_CORP_OR_FILING_TYPE
        '404':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/fees/AA/BBBBB:
                  value:
                    detail: Invalid Business Type or Filing Type.
                    title: Invalid Request
                    type: INVALID_REQUEST
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
    parameters:
      - schema:
          type: string
        name: business_type
        in: path
        required: true
      - schema:
          type: string
        name: filing_type
        in: path
        required: true
      - name: jurisdiction
        in: query
        required: false
        schema:
          type: string
        examples:
          fee_1:
            value: BC
      - name: date
        in: query
        schema:
          type: string
        examples:
          fee_1:
            value: '2018-12-31'
      - name: priority
        in: query
        schema:
          type: boolean
        examples:
          fee_1:
            value: false
      - name: futureEffective
        in: query
        schema:
          type: boolean
        examples:
          fee_1:
            value: false
  /api/v1/payment-requests:
    post:
      tags:
        - Invoice
      summary: Create invoice records
      description: |-
        Create invoice records. This will create transaction records in payment system based on account settings. Below payment methods are decided based on the account preference.
        <ul><li>Credit Card</li><li>Pre Authorized Debit</li><li>Online Banking</li></ul>
      operationId: create_transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
            examples:
              /api/v1/payment-requests:
                value:
                  filingInfo:
                    filingTypes:
                      - priority: true
                        futureEffective: false
                        filingTypeCode: BCINC
                  businessInfo:
                    corpType: BC
                    businessIdentifier: BC1000000
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
              examples:
                /api/v1/payment-requests:
                  value:
                    _links:
                      collection: /api/v1/payment-requests/21/invoices
                      self: /api/v1/payment-requests/21/invoices/21
                    businessIdentifier: BC1000000
                    corpTypeCode: BC
                    createdBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                    createdName: BCREGTEST Bena THIRTEEN
                    createdOn: '2020-09-18T12:51:30.538028+00:00'
                    paymentMethod: DRAWDOWN
                    id: 1
                    paid: 451.5
                    references:
                      - id: 19
                        invoiceNumber: '21'
                        referenceNumber: '0001'
                        statusCode: COMPLETED
                    receipts:
                      - id: 1
                        receiptAmount: 451.5
                        receiptDate: '2020-09-18T12:51:30.538028+00:00'
                        receiptNumber: '2'
                    refund: 0
                    serviceFees: 1.5
                    gst: 1.5
                    statusCode: PAID
                    total: 451.5
                    updatedBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                    updatedName: BCREGTEST Bena THIRTEEN
                    updatedOn: '2020-09-18T12:51:32.256413+00:00'
                    details:
                      - label: 'Incorporation Number : '
                        value: BC1000000
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
              examples:
                /api/v1/payment-requests:
                  value: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
              examples:
                /api/v1/payment-requests:
                  value: 'GET, POST, DELETE, PUT'
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
              examples:
                /api/v1/payment-requests:
                  value: 'Content-Type, Authorization'
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
              examples:
                /api/v1/payment-requests:
                  value: '3600'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples: {}
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
  '/api/v1/payment-requests/{invoice_identifier}':
    get:
      tags:
        - Invoice
      summary: Get Invoice
      description: Get invoice details by request identifier
      operationId: get_payment_request
      responses:
        '200':
          description: Success
          headers:
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
              examples:
                /api/v1/payment-requests/1:
                  value: 'application:prod'
                /api/v1/payment-requests/2:
                  value: 'application:prod'
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
              examples:
                /api/v1/payment-requests/1:
                  value: '*'
                /api/v1/payment-requests/2:
                  value: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
              examples:
                /api/v1/payment-requests/1:
                  value: 'GET, POST, DELETE, PUT'
                /api/v1/payment-requests/2:
                  value: 'GET, POST, DELETE, PUT'
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
              examples:
                /api/v1/payment-requests/1:
                  value: 'Content-Type, Authorization'
                /api/v1/payment-requests/2:
                  value: 'Content-Type, Authorization'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
              examples:
                /api/v1/payment-requests/1:
                  value:
                    _links:
                      collection: /api/v1/payment-requests/2/invoices
                      self: /api/v1/payment-requests/2/invoices/2
                    businessIdentifier: BC1000000
                    corpTypeCode: BC
                    createdBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                    createdName: BCREGTEST Bena THIRTEEN
                    createdOn: '2020-09-18T12:51:30.538028+00:00'
                    paymentMethod: DRAWDOWN
                    id: 1
                    paid: 451.5
                    references:
                      - id: 19
                        invoiceNumber: '21'
                        referenceNumber: '0001'
                        statusCode: COMPLETED
                    refund: 0
                    serviceFees: 1.5
                    statusCode: PAID
                    total: 451.5
                    updatedBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                    updatedName: BCREGTEST Bena THIRTEEN
                    updatedOn: '2020-09-18T12:51:32.256413+00:00'
                    details:
                      - label: 'Incorporation Number : '
                        value: BC1000000
                /api/v1/payment-requests/2:
                  value:
                    _links:
                      collection: /api/v1/payment-requests/2/invoices
                      self: /api/v1/payment-requests/2/invoices/2
                    businessIdentifier: BC1000001
                    corpTypeCode: BC
                    createdBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                    createdName: BCREGTEST Bena THIRTEEN
                    createdOn: '2020-09-18T12:51:30.538028+00:00'
                    paymentMethod: PAD
                    id: 2
                    paid: 451.5
                    references:
                      - id: 19
                        invoiceNumber: '21'
                        referenceNumber: '0001'
                        statusCode: COMPLETED
                    refund: 0
                    serviceFees: 1.5
                    gst: 1.5
                    statusCode: PAID
                    total: 451.5
                    updatedBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                    updatedName: BCREGTEST Bena THIRTEEN
                    updatedOn: '2020-09-18T12:51:32.256413+00:00'
                    details:
                      - label: 'Incorporation Number : '
                        value: BC1000001
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/payment-requests/0:
                  value:
                    detail: Invalid invoice identifier.
                    title: Invalid Request
                    type: INVALID_INVOICE_ID
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
    parameters:
      - schema:
          type: string
        name: invoice_identifier
        in: path
        required: true
    delete:
      tags:
        - Invoice
      summary: ''
      operationId: delete_payment_request
      responses:
        '202':
          description: Accepted
          headers:
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
              examples:
                /api/v1/payment-requests/1:
                  value: 'application:prod'
                /api/v1/payment-requests/2:
                  value: 'application:prod'
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
              examples:
                /api/v1/payment-requests/1:
                  value: '*'
                /api/v1/payment-requests/2:
                  value: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
              examples:
                /api/v1/payment-requests/1:
                  value: 'GET, POST, DELETE, PUT'
                /api/v1/payment-requests/2:
                  value: 'GET, POST, DELETE, PUT'
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
              examples:
                /api/v1/payment-requests/1:
                  value: 'Content-Type, Authorization'
                /api/v1/payment-requests/2:
                  value: 'Content-Type, Authorization'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/payment-requests/0:
                  value:
                    detail: Invalid invoice identifier.
                    title: Invalid Request
                    type: INVALID_INVOICE_ID
      description: DELETE invoice
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
  '/api/v1/payment-requests/{invoice_identifier}/receipts':
    get:
      tags:
        - Receipts
      summary: Payment Receipts
      description: Returns payment receipt details
      operationId: Get_Receipt
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
              examples:
                /api/v1/payment-requests/1/receipts:
                  value:
                    invoice:
                      _links:
                        collection: /api/v1/payment-requests/1/invoices
                        self: /api/v1/payment-requests/1/invoices/1
                      bcolAccount: '100000'
                      businessIdentifier: BC1000000
                      corpTypeCode: BC
                      createdBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                      createdName: BCREGTEST Bena THIRTEEN
                      createdOn: '2020-09-18T12:51:30.538028+00:00'
                      id: 1
                      lineItems:
                        - description: Incorporation
                          filingFees: 350
                          futureEffectiveFees: 0
                          gst: 0
                          id: 19
                          priorityFees: 100
                          pst: 0
                          quantity: 1
                          serviceFees: 1.5
                          statusCode: ACTIVE
                          total: 450
                          waivedBy: Staff
                          waivedFees: 0
                      paid: 451.5
                      receipts:
                        - id: 4
                          receiptAmount: 451.5
                          receiptDate: '2020-09-18T12:51:32.237197+00:00'
                          receiptNumber: '21'
                      references:
                        - id: 19
                          invoiceNumber: '21'
                          referenceNumber: '0001'
                          statusCode: COMPLETED
                      refund: 0
                      serviceFees: 1.5
                      statusCode: PAID
                      total: 451.5
                      updatedBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                      updatedName: BCREGTEST Bena THIRTEEN
                      updatedOn: '2020-09-18T12:51:32.256413+00:00'
                      details:
                        - label: 'Incorporation Number : '
                          value: BC1000000
                    invoiceNumber: '21'
                    paymentMethod: Drawdown Payment
                    receiptNumber: '21'
                /api/v1/payment-requests/2/receipts:
                  value:
                    invoice:
                      _links:
                        collection: /api/v1/payment-requests/2/invoices
                        self: /api/v1/payment-requeasts/2/invoices/2
                      bcolAccount: '100001'
                      businessIdentifier: BC1000001
                      corpTypeCode: BC
                      createdBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                      createdName: BCREGTEST Bena THIRTEEN
                      createdOn: '2020-09-18T12:51:30.538028+00:00'
                      id: 2
                      lineItems:
                        - description: Incorporation
                          filingFees: 350
                          futureEffectiveFees: 0
                          gst: 0
                          id: 19
                          priorityFees: 100
                          pst: 0
                          quantity: 1
                          serviceFees: 1.5
                          statusCode: ACTIVE
                          total: 450
                          waivedBy: Staff
                          waivedFees: 0
                      paid: 451.5
                      receipts:
                        - id: 4
                          receiptAmount: 451.5
                          receiptDate: '2020-09-18T12:51:32.237197+00:00'
                          receiptNumber: '21'
                      references:
                        - id: 19
                          invoiceNumber: '22'
                          referenceNumber: '0001'
                          statusCode: COMPLETED
                      refund: 0
                      serviceFees: 1.5
                      statusCode: PAID
                      total: 451.5
                      updatedBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                      updatedName: BCREGTEST Bena THIRTEEN
                      updatedOn: '2020-09-18T12:51:32.256413+00:00'
                      details:
                        - label: 'Incorporation Number : '
                          value: BC1000001
                    invoiceNumber: '22'
                    paymentMethod: Drawdown Payment
                    receiptNumber: '22'
          headers:
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/payment-requests/0/receipts:
                  value:
                    detail: Invalid invoice identifier.
                    title: Invalid Request
                    type: INVALID_INVOICE_ID
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
    parameters:
      - schema:
          type: string
        name: invoice_identifier
        in: path
        required: true
    post:
      tags:
        - Receipts
      summary: Generate payment receipt
      operationId: Post_Receipt
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: object
                properties: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/payment-requests/0/receipts:
                  value:
                    detail: Invalid invoice identifier.
                    title: Invalid Request
                    type: INVALID_INVOICE_ID
      description: Generates a payment receipt as PDF
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptRequest'
            examples:
              /api/v1/payment-requests/1/receipts:
                value:
                  corpName: XYZ Corp
                  filingDateTime: 'June 27, 2019'
                  fileName: director-change
              /api/v1/payment-requests/2/receipts:
                value:
                  corpName: ABC Corporation
                  filingDateTime: 'June 27, 2019'
                  fileName: director-change
        description: Generate receipt request
  '/api/v1/accounts/{accountId}/payments/queries':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
    post:
      tags:
        - Transaction Reports
      summary: Query Payment Transactions
      operationId: transaction_queries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionReports'
              examples:
                /api/v1/accounts/1/payments/queries:
                  value:
                    items:
                      - _links:
                          collection: /api/v1/payment-requests/2/invoices
                          self: /api/v1/payment-requests/2/invoices/2
                        businessIdentifier: BC1000000
                        corpTypeCode: BC
                        createdBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                        createdName: BCREGTEST Bena THIRTEEN
                        createdOn: '2020-09-18T12:51:30.538028+00:00'
                        id: 1
                        paid: 451.5
                        references:
                          - id: 19
                            invoiceNumber: '21'
                            referenceNumber: '0001'
                            statusCode: COMPLETED
                        refund: 0
                        serviceFees: 1.5
                        gst: 0
                        statusCode: PAID
                        total: 451.5
                        updatedBy: BCSC/FYD76WBCNG76CPXBU42HHUA4QPHTIVB5
                        updatedName: BCREGTEST Bena THIRTEEN
                        updatedOn: '2020-08-18T17:46:22.004887+00:00'
                        paymentMethod: DRAWDOWN
                    limit: 10
                    page: 1
                    total: 1
                /api/v1/accounts/2/payments/queries:
                  value:
                    items:
                      - corpTypeCode: BC
                        id: 4374
                        lineItems:
                          - description: Incorporation
                            filingFees: 350
                            filingTypeCode: BCINC
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 1.5
                            total: 350
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 351.5
                        refund: 0
                        serviceFees: 1.5
                        total: 351.5
                        paymentMethod: DRAWDOWN
                      - corpTypeCode: BC
                        id: 4017
                        lineItems:
                          - description: Incorporation
                            filingFees: 350
                            filingTypeCode: BCINC
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 1.5
                            total: 350
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 351.5
                        refund: 0
                        serviceFees: 1.5
                        total: 351.5
                        paymentMethod: DRAWDOWN
                      - businessIdentifier: BC1219964
                        corpTypeCode: BC
                        folioNumber: '123456789'
                        id: 3809
                        lineItems:
                          - description: Change of Registered Office Address
                            filingFees: 20
                            filingTypeCode: OTADD
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 1.5
                            total: 20
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 21.5
                        refund: 0
                        serviceFees: 1.5
                        total: 21.5
                        paymentMethod: DRAWDOWN
                      - businessIdentifier: BC1219964
                        corpTypeCode: BC
                        id: 3602
                        lineItems:
                          - description: Change of Registered Office Address
                            filingFees: 20
                            filingTypeCode: OTADD
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 1.5
                            total: 20
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 21.5
                        refund: 0
                        serviceFees: 1.5
                        total: 21.5
                        paymentMethod: DRAWDOWN
                      - businessIdentifier: CP1000006
                        corpTypeCode: CP
                        id: 3348
                        lineItems:
                          - description: Change of Director
                            filingFees: 0
                            filingTypeCode: OTFDR
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 0
                            total: 0
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 0
                        refund: 0
                        serviceFees: 0
                        total: 0
                        paymentMethod: INTERNAL
                      - businessIdentifier: BC1219964
                        corpTypeCode: BC
                        id: 3347
                        lineItems:
                          - description: Change of Director
                            filingFees: 0
                            filingTypeCode: OTFDR
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 0
                            total: 0
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 0
                        refund: 0
                        serviceFees: 0
                        total: 0
                        paymentMethod: INTERNAL
                      - businessIdentifier: BC1219964
                        corpTypeCode: BC
                        id: 3311
                        lineItems:
                          - description: Change of Director
                            filingFees: 20
                            filingTypeCode: OTCDR
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 0
                            total: 20
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 21.5
                        refund: 0
                        serviceFees: 1.5
                        total: 21.5
                        paymentMethod: DRAWDOWN
                      - businessIdentifier: BC1219942
                        corpTypeCode: BC
                        id: 3192
                        lineItems:
                          - description: Change of Registered Office Address
                            filingFees: 20
                            filingTypeCode: OTADD
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 0
                            total: 20
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 21.5
                        refund: 0
                        serviceFees: 1.5
                        total: 21.5
                        paymentMethod: DRAWDOWN
                      - businessIdentifier: BC1219942
                        corpTypeCode: BC
                        id: 3191
                        lineItems:
                          - description: Change of Director
                            filingFees: 20
                            filingTypeCode: OTCDR
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 0
                            total: 20
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 21.5
                        refund: 0
                        serviceFees: 1.5
                        total: 21.5
                        paymentMethod: DRAWDOWN
                      - businessIdentifier: BC1219942
                        corpTypeCode: BC
                        id: 3190
                        lineItems:
                          - description: Change of Director
                            filingFees: 20
                            filingTypeCode: OTCDR
                            futureEffectiveFees: 0
                            gst: 0
                            priorityFees: 0
                            pst: 0
                            quantity: 1
                            serviceFees: 0
                            total: 20
                            waivedBy: Staff
                            waivedFees: 0
                        paid: 21.5
                        refund: 0
                        serviceFees: 1.5
                        total: 21.5
                        paymentMethod: DRAWDOWN
                    limit: 10
                    page: 1
                    total: 64
          headers:
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/accounts/0/payments/queries:
                  value:
                    detail: Invalid account identifier.
                    title: Invalid Request
                    type: INVALID_ACCOUNT_NUMBER
      description: Query account transaction reports
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: Page number
        - schema:
            type: integer
            default: 10
          in: query
          name: limit
          description: Number of records per page to be included
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionReportQuery'
            examples:
              /api/v1/accounts/1/payments/queries:
                value:
                  dateFilter:
                    startDate: '2020-11-08'
                    endDate: '2020-11-25'
                  folioNumber: '123456789'
              /api/v1/accounts/2/payments/queries:
                value:
                  dateFilter:
                    startDate: '2020-01-01'
                    endDate: '2020-12-31'
  '/api/v1/accounts/{accountId}/statements':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
    get:
      summary: Get list of statements
      tags: []
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Max-Age:
              schema:
                type: string
              description: Access-Control-Max-Age
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Access-Control-Allow-Origin
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Access-Control-Allow-Methods
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Access-Control-Allow-Headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              examples:
                /api/v1/accounts/1/statements:
                  value:
                    items:
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3783
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3782
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3781
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3780
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3779
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3778
                        notificationDate: '2020-09-07'
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3777
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3776
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3775
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3774
                        notificationDate: null
                        toDate: '2020-09-05'
                    limit: 10
                    page: 1
                    total: 1319
                /api/v1/accounts/2/statements:
                  value:
                    items:
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3783
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3782
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3781
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3780
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3779
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3778
                        notificationDate: '2020-09-07'
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3777
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3776
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3775
                        notificationDate: null
                        toDate: '2020-09-05'
                      - createdOn: '2020-09-07'
                        frequency: MONTHLY
                        fromDate: '2020-08-30'
                        id: 3774
                        notificationDate: null
                        toDate: '2020-09-05'
                    limit: 10
                    page: 1
                    total: 1319
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/accounts/0/statements:
                  value:
                    detail: Invalid account identifier.
                    title: Invalid Request
                    type: INVALID_ACCOUNT_NUMBER
      operationId: get_statements
      description: Get list of statements generated for the account
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
        - schema:
            type: integer
          in: query
          name: page
          description: Current Page
        - schema:
            type: integer
          in: query
          name: limit
          description: Number of records to include
  '/api/v1/accounts/{accountId}/statements/{statementId}':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
      - schema:
          type: string
        name: statementId
        in: path
        required: true
    get:
      summary: Get the statement
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: object
                properties: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                /api/v1/accounts/0/statements/0:
                  value:
                    detail: Invalid statement identifier.
                    title: Invalid Request
                    type: INVALID_STATEMENT_ID
      operationId: get_statement
      description: Return the statement as either PDF or CSV
      parameters:
        - schema:
            type: string
          in: header
          name: Account-Id
        - schema:
            type: string
          in: header
          name: Accept
          description: Accept
          required: true
  /api/v1/accounts:
    get:
      tags:
        - Accounts
      summary: Get Payment Account records
      description: Retrieve Payment Account records.
      operationId: Get_Accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                /api/v1/accounts:
                  value:
                    accountFees: []
                    accountId: "1234"
                    accountName: "zz"
                    branchName: "sdfs"
                    eftEnable: true
                    id: 8830
                    paymentMethod: "EJV"
                    revenueAccount: {}
                    version: 2
    post:
      tags:
        - Accounts
      summary: Create Payment Account records
      description: Create Payment Account records.
      operationId: Create_Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfo'
            examples:
              /api/v1/accounts:
                value:
                  accountId: 1
                  accountName: test_account_name
                  paymentInfo:
                    methodOfPayment: CC
                    billable: true
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              examples:
                /api/v1/accounts:
                  value:
                    auccountId: 1
                    accountName: tester
                    bcolAccount: null
                    bcolUserId: null
                    billable: true
                    credit: null
                    id: 64
                    runningBalance: null
                    statementNotificationEnabled: false
                    versions:
                      - id: 64
                        transactionId: 115
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/api/v1/accounts/{account_id}':
    put:
      tags:
        - Accounts
      summary: Update payment Account records
      description: Updates payment Account records.
      operationId: Update_Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfo'
            examples:
              /api/v1/accounts/1:
                value:
                  accountId: 1
                  accountName: test_account_name
                  paymentInfo:
                    methodOfPayment: CC
                    billable: true
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              examples:
                /api/v1/accounts/1:
                  value:
                    accountId: '19'
                    accountName: tester
                    bcolAccount: null
                    bcolUserId: null
                    billable: true
                    credit: null
                    id: 64
                    runningBalance: null
                    statementNotificationEnabled: false
                    versions:
                      - id: 64
                        transactionId: 115
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    parameters:
      - schema:
          type: string
        name: account_id
        in: path
        required: true
  '/api/v1/payment-requests/{invoice_identifier}/refunds':
    parameters:
      - schema:
          type: string
        name: invoice_identifier
        in: path
        required: true
        description: Invoice Identifier
    post:
      summary: Create refund request
      operationId: create_refund
      tags:
        - Refunds
      responses:
        '202':
          description: Accepted
      description: 'Endpoint to create requests for refund. This endpoint is secured to be invoked only using service accounts, as the refund requirement rules are are controlled by the client system.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refund'
            examples:
              /api/v1/payment-requests/1/refunds:
                value:
                  reason: Duplicate submission
              /api/v1/payment-requests/2/refunds:
                value:
                  reason: Incorrect fees
components:
  schemas:
    ErrorResponse:
      type: object
      description: <p>Contains details of an error that was encountered.</p>
      properties:
        detail:
          type: string
        type:
          type: string
        title:
          type: string
      title: Error
    Tax:
      type: object
      properties:
        gst:
          type: number
          description: Good Services Tax
        pst:
          type: number
          description: Provincial Sales Tax
      title: Tax
      description: <p>Object to hold tax details. </p>
    Fee:
      type: object
      title: Fee
      description: <p> Object to return fee information. </p>
      properties:
        filingTypeCode:
          type: string
          description: Filing Type Code
        filingType:
          type: string
          description: Filing Type
        filingFees:
          type: number
          description: Fees for filing
        serviceFees:
          type: number
          description: Applicable service fees
        tax:
          $ref: '#/components/schemas/Tax'
        futureEffectiveFees:
          type: number
          description: Future effective fees
        priorityFees:
          type: number
          description: Priority Fees
        total:
          type: number
          description: Total
        processingFees:
          type: number
    PaymentRequest:
      type: object
      title: Payment Request
      description: <p>Object to hold payment request details. </p>
      properties:
        filingInfo:
          $ref: '#/components/schemas/FilingInfo'
        businessInfo:
          $ref: '#/components/schemas/BusinessInfo'
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        details:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
      required:
        - filingInfo
        - businessInfo
    FilingInfo:
      type: object
      properties:
        filingIdentifier:
          type: string
          description: Unique identifier for the filing
        folioNumber:
          type: string
          description: 'Folio number '
        filingTypes:
          type: array
          description: Filing types
          items:
            $ref: '#/components/schemas/FilingType'
        date:
          type: string
          description: Date on which fees are applicable
      title: Filing Information
      description: <p>Object to store filing information for a payment request. </p>
    FilingType:
      type: object
      title: Filing Type
      description: <p>Object to store filing type information for creating a payment request. </p>
      properties:
        filingTypeCode:
          type: string
          description: Filing Type Code
        priority:
          type: boolean
          description: Priority Indicator
        filingDescription:
          type: string
          description: Override default description
        futureEffective:
          type: boolean
          description: Filing Future Effective flag
        waiveFees:
          type: boolean
          description: Waive fees flag for staff users
        quantity:
          type: integer
          description: Quantity
        fee:
          type: number
          description: Variable fee amount
      required:
        - filingTypeCode
    BusinessInfo:
      type: object
      properties:
        businessIdentifier:
          type: string
          description: Business identifier
        businessName:
          type: string
          description: Legal entity name
        corpType:
          type: string
          description: Business type
      description: <p>Object to hold business information. </p>
      title: Business Information
    ContactInfo:
      type: object
      properties:
        addressLine1:
          type: string
          description: Addres line 1
        city:
          type: string
          description: City
        province:
          type: string
          description: Province
        postalCode:
          type: string
          description: Postal Code
        country:
          type: string
      title: Contact Information
      description: <p>Object to hold business information for payment requests. </p>
    InvoiceRef:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for invoice
        invoiceNumber:
          type: string
          description: id of the account
        referenceNumber:
          type: string
          description: username of the account
        statusCode:
          type: string
          description: invoice creation date
      title: Invoice Reference
      description: <p>Object to hold invoice reference details from other systems. </p>
    Invoice:
      type: object
      title: Invoice
      description: <p>Object to hold invoice information </p>
      additionalProperties: true
      properties:
        _links:
          $ref: '#/components/schemas/Links'
        id:
          type: integer
          description: Unique identifier for invoice
        bcolAccount:
          type: string
          description: BC Online account number
        businessIdentifier:
          type: string
          description: id of the account
        corpTypeCode:
          type: string
          description: username of the account
        createdBy:
          type: string
          description: user who created the invoice
        createdOn:
          type: string
          description: date made invoice
        disbursementDate:
          type: string
          description: date when disbursement status code was set
        disbursementReversalDate:
          type: string
          description: date when disbursement reversal status code was set
        overdueDate:
          type: string
          description: date when payment is overdue (EFT / ONLINE_BANKING)
        paid:
          type: number
          description: amount paid
        refund:
          type: number
          description: reference number
        refundDate:
          type: string
          description: date when received confirmation invoice was refunded
        serviceFees:
          type: number
          description: service fees
        gst:
          type: number
          description: Total GST amount including statutory and service fees GST (hidden if zero)
        total:
          type: number
        statusCode:
          type: string
          enum:
            - PAID
            - DELETED
            - CREATED
            - APPROVED
            - COMPLETED
            - REFUND_REQUESTED
            - REFUNDED
            - SETTLEMENT_SCHED
            - CANCELLED
            - CREDITED
            - OVERDUE
        references:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceRef'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        isPaymentActionRequired:
          type: boolean
          description: Flag to indicate if a user action/redirection is needed to complete the payment.
        isOnlineBankingAllowed:
          type: boolean
        details:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
        paymentAccount:
          type: object
          properties:
            accountId:
              type: string
              description: Account ID for the invoice
            accountName:
              type: string
              description: Account Name
            branchName:
              type: string
              description: Account Branch Name
            billable:
              type: boolean
        createdName:
          type: string
        filingId:
          type: string
        folioNumber:
          type: string
        paymentDate:
          type: string
          description: date when invoice was marked as paid
        paymentMethod:
          type: string
        receipts:
          type: array
          items:
            $ref: '#/components/schemas/Receipt'
        updatedOn:
          type: string
        updatedBy:
          type: string
        updatedName:
          type: string
    Transaction:
      type: object
      properties:
        _links:
          type: object
        id:
          type: string
          description: Unique identifier for transaction
        startTime:
          type: string
          description: transaction start time
        endTime:
          type: string
          description: transaction end time
        paySystemUrl:
          type: string
          description: Payment system url
        paymentId:
          type: integer
          description: id of the payment
        statusCode:
          type: string
          description: Status of payment.
          enum:
            - CREATED
            - COMPLETED
            - FAILED
            - CANCELLED
            - EVENT_FAILED
        clientSystemUrl:
          type: string
      title: Transaction
      description: <p>Object to hold transaction details for each payment.</p>
    Links:
      type: object
      properties:
        self:
          type: string
          description: Self link
        collection:
          type: string
          description: collection link
      title: Links
      description: <p>Generic links information for giving details on linked objects. </p>
    LineItem:
      title: LineItem
      type: object
      description: <p>Object to hold line item details. </p>
      properties:
        id:
          type: integer
        description:
          type: string
        filingFees:
          type: number
        futureEffectiveFees:
          type: number
        gst:
          type: number
        priorityFees:
          type: number
        pst:
          type: number
        quantity:
          type: integer
        serviceFees:
          type: number
        serviceFeesGst:
          type: number
          description: GST amount on service fees (hidden if zero)
        statutoryFeesGst:
          type: number
          description: GST amount on statutory fees (hidden if zero)
        statusCode:
          type: string
        total:
          type: number
        waivedFees:
          type: number
        waivedBy:
          type: string
        filingTypeCode:
          type: string
    Receipt:
      title: Receipt
      type: object
      description: <p>Object to store receipt details. </p>
      properties:
        filingIdentifier:
          type: string
        invoice:
          $ref: '#/components/schemas/Invoice'
        invoiceNumber:
          type: string
        receiptNumber:
          type: string
        bcOnlineAccountNumber:
          type: string
        paymentMethod:
          type: string
        receiptAmount:
          type: number
        receiptDate:
          type: string
        id:
          type: number
    TransactionReportQuery:
      title: Transaction Report Query
      type: object
      description: Object to store the transaction report query.
      properties:
        dateFilter:
          $ref: '#/components/schemas/DateFilter'
        folioNumber:
          type: string
          description: Folio Number
    DateFilter:
      title: Date Filter
      type: object
      description: Date filter for transaction reports
      properties:
        startDate:
          type: string
          description: Start date in YYYY-MM-DD
        endDate:
          type: string
          description: End date in YYYY-MM-DD
    TransactionReports:
      title: Transaction Reports
      type: object
      description: Paginated result for transaction reports
      properties:
        items:
          type: array
          description: List of payment transactions
          items:
            $ref: '#/components/schemas/Invoice'
        limit:
          type: integer
          description: number of records to be included
          default: 10
        page:
          type: integer
          description: Current page
        total:
          type: integer
          description: Total number of records found
    Statements:
      title: Statements
      type: object
      description: Object to store statements list
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Statement'
        page:
          type: integer
        limit:
          type: integer
    Statement:
      title: Statement
      type: object
      description: Object to store statement header information
      properties:
        frequency:
          type: string
          enum:
            - MONTHLY
            - WEEKLY
            - DAILY
        fromDate:
          type: string
        id:
          type: integer
        toDate:
          type: string
    ReceiptRequest:
      title: ReceiptRequest
      type: object
      description: Receipt Request Model
      properties:
        corpName:
          type: string
          description: Name of the business
        filingDateTime:
          type: string
          description: Filing date and time
        fileName:
          type: string
          description: file name to be part of response
      required:
        - corpName
    AccountInfo:
      type: object
      properties:
        accountId:
          type: integer
          description: Account Id
        accountName:
          type: string
          description: Name of Account
        paymentInfo:
          type: object
          properties:
            methodOfPayment:
              type: string
              description: method of payment as CC
            billable:
              type: boolean
              description: is it billable
    Refund:
      title: Refund
      type: object
      description: Model to store refund details.
      properties:
        reason:
          type: string
        requestedDate:
          type: string
          description: Date when refund was requested
        requestedBy:
          type: string
          description: Person who initiated refund
        id:
          type: number
        invoiceId:
          type: number
        routingSlipId:
          type: number
        decisionMadeBy:
          type: string
        decisionDate:
          type: string
        details:
          type: object
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
security:
  - JWT: []
tags:
  - name: Fees
  - name: Invoice
  - name: Receipts
  - name: Transaction Reports
  - name: Accounts
  - name: Refunds
