name: Pay API CD GCP

on:
  push:
    branches:
      - feature-gcp
    paths:
      - "pay-api/**"
  workflow_dispatch:
    inputs:
      target:
        description: "Deploy To"
        required: true
        type: choice
        options:
        - dev
        - test
        - sandbox
        - prod

jobs:
  pay-api-cd:
    uses: bcgov/bcregistry-sre/.github/workflows/cloud-run-service-cd.yaml@main
    with:
      target: ${{ inputs.target }}
      app_name: "pay-api"
      working_directory: "./pay-api"
    secrets:
      WORKLOAD_IDENTIFY_POOLS_PROVIDER: ${{ secrets.WORKLOAD_IDENTIFY_POOLS_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
