name: PAY Admin CI

on:
  pull_request:
    branches:
      - main
      - release/*
    paths:
      - "pay-admin/**"
      - "pay-api/src/pay_api/models/**"

defaults:
  run:
    shell: bash
    working-directory: ./pay-admin

jobs:
  setup-job:
    runs-on: ubuntu-24.04

    if: github.repository == 'bcgov/sbc-pay'

    steps:
      - uses: actions/checkout@v4
      - run: "true"

  linting:
    needs: setup-job
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: [3.12]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Lint with ruff
        run: |
          make lint

  testing:
    needs: setup-job
    env:
      FLASK_ENV: "testing"
      # Needs different database than POSTGRES otherwise dropping database doesn't work
      DATABASE_TEST_URL: "postgresql://postgres:postgres@localhost:5432/pay-test"


    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: [3.12]

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          # Needs different database than POSTGRES otherwise dropping database doesn't work
          POSTGRES_DB: pay-test
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Test with pytest
        id: test
        run: |
          make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./pay-admin/coverage.xml
          flags: payadmin
          name: codecov-pay-admin
          fail_ci_if_error: false

  build-check:
    needs: setup-job
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: [3.12]

    steps:
      - uses: actions/checkout@v4
      - name: build to check strictness
        id: build
        run: |
          make build-nc
