name: Pay API CI

on:
  pull_request:
    branches:
      - development
    paths:
      - "pay-api/**"

jobs:
  pay-api-ci:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: ./pay-api

    if: github.repository == 'bcgov/sbc-pay'
    env:
      FLASK_ENV: "testing"
      DATABASE_TEST_URL: "postgresql://postgres:postgres@localhost:5432/postgres"
      TEST_NATS_DOCKER: "YES"
      USE_TEST_KEYCLOAK_DOCKER: "YES"
      USE_DOCKER_MOCK: "YES"

      JWT_OIDC_ISSUER: "http://localhost:8081/auth/realms/demo"
      JWT_OIDC_TEST_WELL_KNOWN_CONFIG: "http://localhost:8081/auth/realms/demo/.well-known/openid-configuration"
      JWT_OIDC_TEST_ALGORITHMS: "RS256"
      JWT_OIDC_TEST_AUDIENCE: "sbc-auth-web"
      JWT_OIDC_TEST_CLIENT_SECRET: "1111111111"
      JWT_OIDC_TEST_JWKS_CACHE_TIMEOUT: "6000"

      NATS_QUEUE: "test-worker"
      NATS_SUBJECT: "entity.payment.test"

      KEYCLOAK_SERVICE_ACCOUNT_ID: "sbc-auth-admin"
      KEYCLOAK_SERVICE_ACCOUNT_SECRET: "2222222222"

    strategy:
      matrix:
        python-version: [3.8]
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Lint with pylint
        run: |
          make lint
      - name: Lint with flake8
        run: |
          make flake8
      - name: Test with pytest
        run: |
          make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./pay-api/coverage.xml
          flags: payapi
          name: codecov-pay-api
          fail_ci_if_error: true
      - name: build to check strictness
        run: |
          make build-nc
