name: Payment Reconciliations Queue CI

on:
  pull_request:
    branches:
      - development
    paths:
      - "queue_services/payment-reconciliations/**"

jobs:
  payment-reconciliations-queue_service-ci:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: ./queue_services/payment-reconciliations

    if: github.repository == 'bcgov/sbc-pay'
    env:
      DATABASE_TEST_URL: "postgresql://postgres:postgres@localhost:5432/postgres"
      TEST_NATS_DOCKER: "YES"
      USE_DOCKER_MOCK: "YES"
      STAN_CLUSTER_NAME: "test-cluster"
      MINIO_ENDPOINT: "localhost:9000"
      MINIO_ACCESS_KEY: "minio"
      MINIO_ACCESS_SECRET: "minio123"
      MINIO_BUCKET_NAME: "payment-sftp"
      MINIO_SECURE: False
      CFS_BASE_URL: "http://localhost:8080/paybc-api"
      CFS_CLIENT_ID: "TEST"
      CFS_CLIENT_SECRET: "TEST"

    strategy:
      matrix:
        python-version: [3.8]
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Lint with pylint
        run: |
          make lint
      #- name: Lint with flake8
      #  run: |
      #    make flake8
      - name: Test with pytest
        run: |
          make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./queue_services/payment-reconciliations/coverage.xml
          flags: paymentreconciliationsqueue
          name: codecov-payment-reconciliations
          fail_ci_if_error: true
      - name: build to check strictness
        run: |
          make build-nc
